.topBar{
  display: flex;
  background-color: var(--sub-color);
  align-items: center;
  height: 80px;
  justify-content: space-between;
}

.topBar h1{
  margin-left: 60px;
  cursor: pointer;
  color: #fff;
}

.topBar img{
  cursor: pointer;
  max-width: 100px;
  max-height: 80px;
  margin-left: 16px;
}

.profile .profileIcon{
  cursor: pointer;
  right: 0;
 position: relative;
  top: 0;
}

.profile{
  display: inline-flex;
  text-decoration: none;
}

.profile h2{
  cursor: pointer;
  color: #fff;
  padding-right: 20px;
  align-self: center;
  text-decoration: none;
}
